<section>
  <div class="button-row">
    <mat-form-field appearance="fill">
      <mat-label>search</mat-label>
      <input
        matInput
        [(ngModel)]="search"
        (keyup)="applyFilter($event)"
        placeholder="Search"
      />
      <mat-icon class="search-icon" color="primary" matPrefix>search</mat-icon>
      <button
        *ngIf="search"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button mat-raised-button #tooltip="matTooltip"
    matTooltip="Add more Images"
    matTooltipPosition="right"
    matTooltipHideDelay="100000"  (click)="add()" color="primary" style="margin:20px"><mat-icon>add</mat-icon></button>
  </div>
</section>
<div >
  <app-grid [colSize]="col" [imageList]="imageTempList" [update]="update" [delete]="delete"></app-grid>
</div>

